<div class="flex justify-center text-center relative">
  <div class="devise-form">
    <h1 class="text-2xl font-bold text-neutral-100">Account settings</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-12">
        <% if resource.avatar.attached? %>
          <%= image_tag resource.avatar, class: "w-[100px] h-[100px] rounded-full mx-auto" %>
        <% else %>
          <%= image_tag current_user.gravatar_url, height: 100, width: 100, class: "rounded-full mx-auto" %>
        <% end %>
        <div>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="grid lg:grid-cols-2 sm:auto-cols-auto auto-rows-auto gap-x-10">
        <div class="field mt-6">
          <div><%= f.label :username %></div>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "devise-form-field" %>
        </div>

        <div class="field mt-6">
          <div><%= f.label :email %></div>
          <%= f.email_field :email, autocomplete: "email", class: "devise-form-field" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field mt-6">
          <div><%= f.label :password, value: "New Password" %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "devise-form-field" %>
        </div>

        <div class="field mt-6">
          <div><%= f.label :password_confirmation, value: "Confirm new password" %></div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-form-field" %>
        </div>
      </div>

      <div class="field mt-6">
        <div><%= f.label :current_password %></div>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "devise-form-field" %>
      </div>

      <div class="actions mt-8">
        <%= f.submit "Update", class: "border rounded border-green-100 px-6 py-2 text-green-100 hover:bg-green-100 hover:text-green-900 cursor-pointer" %>
      </div>
    <% end %>

    <div class="mt-16">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure you want to delete your account?" }, method: :delete,
                    class: "rounded text-sm px-6 py-2 text-neutral-100 bg-red-800 cursor-pointer hover:bg-red-900" %>
    </div>
  </div>
</div>

