<div class="flex flex-col items-center my-[50px]">
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar.variant(:large), class: "min-w-[50px] rounded-lg" %>
  <% else %>
    <%= image_tag user.gravatar_url, class: "w-[75px] lg:w-[150px] min-w-[50px] rounded-lg" %>
  <% end %>

  <h1 class="text-2xl font-bold mt-[5px]">
    @<%= user.username %>
  </h1>

  <p class="text-neutral-400 text-sm mt-[5px]">
    Joined <%= user.creation_date %>
  </p>

  <h2 class="flex lg:w-[566px] mt-[20px]">
    <p class="text-[15px] break-normal">
      <%= user.profile.sanitized_short_biography.html_safe %>
    </p>
    <div>
      <% if current_user == user %>
        <%= link_to "Edit", edit_profile_path(user.profile), class: "inline-block px-3 py-2 leading-none rounded text-neutral-500 hover:text-neutral-100 border border-neutral-500 hover:bg-neutral-500" %>
      <% end %>
    </div>
  </h2>
</div>

<div class="flex justify-center gap-20 items-center w-[100%] h-[65px] border-y-2 border-neutral-800">
  <%= link_to "Gallery", gallery_user_path(user), class: "hover:text-neutral-100" %>
  <%= link_to "Following", following_user_path(user), class: "hover:text-neutral-100" %>
  <%= link_to "Followers", followers_user_path(user), class: "hover:text-neutral-100" %>
  <%= link_to "Favorites", favorites_user_path(user), class: "hover:text-neutral-100" %>

  <% if current_user %>
    <% if current_user.following?(user) %>
      <%= render partial: "user_relationships/unfollow", locals: { user: user } %>
    <% elsif current_user != user %>
      <%= render partial: "user_relationships/follow", locals: { user: user } %>
    <% end %>
  <% end %>
</div>