<div class="flex flex-col items-center my-[50px]">
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar.variant(:large), class: "min-w-[50px] rounded-lg" %>
  <% else %>
    <%= image_tag user.gravatar_url, class: "w-[75px] lg:w-[150px] min-w-[50px] rounded-lg" %>
  <% end %>

  <h1 class="text-2xl font-bold mt-[5px]">
    @<%= user.username %>
  </h1>

  <p class="text-neutral-400 text-sm mt-[5px]">
    Joined <%= user.creation_date %>
  </p>

  <h2 class="flex flex-wrap lg:flex-nowrap justify-center lg:w-[566px] items-center mt-[20px] gap-3">
    <p class="text-center items-center profile-links text-sm break-normal">
      <%= user.profile.sanitized_short_biography.html_safe %>
    </p>
    <div>
      <% if current_user == user %>
        <%= link_to "Edit", edit_profile_path(user.profile), class: "inline-block px-3 py-2 leading-none rounded text-neutral-500 hover:text-neutral-100 border border-neutral-500 hover:bg-neutral-500" %>
      <% end %>
    </div>
  </h2>
</div>

<div class="flex flex-wrap justify-center gap-8 lg:gap-20 items-center w-[100%] sm:h-[90px] py-[10px] lg:h-[65px] border-y-2 border-neutral-800">
  <%= link_to "Gallery", gallery_user_path(user), class: "hover:text-neutral-100" %>

  <a href="<%= following_user_path(user) %>" class="hover:text-neutral-100">
    Following
    <span class="text-sm text-neutral-400">(<%= user.following.count %>)</span>
  </a>

  <a href="<%= followers_user_path(user) %>" class="hover:text-neutral-100">
    Followers
    <span class="text-sm text-neutral-400">(<%= user.followers.count %>)</span>
  </a>

  <%= link_to "Favorites", favorites_user_path(user), class: "hover:text-neutral-100" %>
  <%= link_to "About", about_user_path(user), class: "hover:text-neutral-100" %>

  <% if current_user %>
    <% if current_user.following?(user) %>
      <%= render partial: "user_relationships/unfollow", locals: { user: user } %>
    <% elsif current_user != user %>
      <%= render partial: "user_relationships/follow", locals: { user: user } %>
    <% end %>
  <% end %>
</div>