<div class="flex justify-center text-center relative">
  <div class="devise-form">
    <h1 class="text-2xl font-bold text-neutral-100">Sign in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-12">
          <div><%= f.label :email %></div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form-field" %>
        </div>

        <div class="field mt-6">
          <div><%= f.label :password %></div>
          <%= f.password_field :password, autocomplete: "current-password", class: "devise-form-field" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-6">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mt-6">
          <%= f.submit "Sign in", class: "cursor-pointer px-6 py-1 rounded text-neutral-900 bg-neutral-200 hover:bg-neutral-300"%>
        </div>
    <% end %>

    <div class="mt-24">
      <div class="mb-4">Don't have an account yet?</div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
