<div class="flex flex-wrap flex-col lg:flex-row justify-center text-neutral-100 gap-10 m-[10px] lg:m-[20px] lg:py-[50px]">
  <div class="flex flex-col items-center lg:min-w-[1200px] lg:mr-[100px]">
    <div class="mb-6">
      <%= image_tag @post.image, class: "max-w-[100%] lg:max-w-[1200px]" %>
    </div>

    <%= render "post-description" %>

    <%= render "post-comments" %>

    <div class="mt-6">
      <% if user_signed_in? %>
        <%= render "comments/new-comment-form" %>
      <% end %>
    </div>
  </div>

  <%= render "post-sidebar" %>
</div>